.header {
    background-color: #3db1bc;
  }
  
  thead {
    background-color: #1385c6;
  }
  
  td {
    border-right: 1px solid #ddd;
    position: relative;
  }
  
  th {
    border: 0px solid #ddd !important; 
  }
  
  .fa {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px !important;
    color: white;
  }
  
  span {
    float: left;
  }
  
  p {
    float: left;
    position: absolute;
    right: 30%;
    top: 20%;
    background: gray;
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
  }
  
  .wrapper {
    margin-left: 35px;
    margin-top: 10px;
    height: 100%;
  }
  
  #globe {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  #velo {
    margin-left: 80px;
  }
  
  #accueil {
    padding-left: 30px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #29c67d;
    color: white;
  }
  
  .container1 {
    margin-top: 20px;
    border-right: 1px solid lightgray;
    padding-right: 40px;
    padding-left: 0px;
    min-height: 220px;
  }
  
  .container-inline {
    float: left;
    background-color: #1385c6;
  }
  
  .row1 {
    background-color: #1385c6;
  }
  
  .row2 {
    height: 400px;
    width: 400px;
  }
  
  .search {
    width: 100%;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
  }
  
  h1 {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  h2 {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  
  h3 {
    color: black;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  h4 {
    color: #1385c6;
  }
  
  a {
    text-decoration: none;
    height: 100%;
    width: auto;
  }
  
  body {
    margin: 0;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
    position: absolute;
    top: 10px;
    z-index: 5;
  }
  #map {
    height: 600px;
    width: 80%;
  }
  
  .table {
    width: 90%;
  }
  
  .row {
    margin-bottom: 20px;
  }